html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0px;
    background-color: #222222;
    color: #ffffff;
}

#main-container {
    height: 100%;
}

#output-container {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#input-container {
    flex-grow: 0;
    flex-shrink: 0;
    padding: 16px;
    padding-top: 0px;
}

#tex-output {
    flex-grow: 0;
    font-size: 18px;
    user-select: none;
}

#tex-input {
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    background-color: #353535;
    color: #f1f1f1;
    font-family: monospace;
    border: 1px solid #5e5e5e;
    border-radius: 4px;
}

#tex-input:focus {
    outline: none;
}

#button-container {
    position: absolute;
    top: 0px;
    right: 0px;
    flex-direction: row;
    padding: 16px;
}

#accept {
    background-color: #00b44b;
    border-color: #0d8840;
}

#cancel {
    background-color: #c7442c;
    border-color: #943726;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.button {
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    margin-left: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.2s;
}

.button > img {
    width: 12px;
    height: 12px;
    opacity: 0;
    transition: opacity 0.2s;
}

body:hover .button {
    opacity: 1;
}

.button:hover > img {
    opacity: 0.7;
}
