html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0px;
    background-color: #222222;
    color: #ffffff;
}

#main-container {
    height: 100%;
}

#output-container {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#input-container {
    flex-grow: 0;
    flex-shrink: 0;
    padding: 16px;
    padding-top: 0px;
}

#tex-output {
    flex-grow: 0;
    font-size: 18px;
    user-select: none;
}

#tex-input {
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    background-color: #353535;
    color: #f1f1f1;
    border: 1px solid #5e5e5e;
    border-radius: 4px;
    font-family: monospace;
}

#tex-input:focus {
    outline: none;
}

#window-controls {
    position: fixed;
    top: 0px;
    right: 0px;
    padding: 16px;
}

#window-controls > button {
    display: flex;
    box-sizing: border-box;
    min-width: 0px;
    width: 16px;
    height: 16px;
    padding: 0px;
    justify-content: center;
    align-items: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.2s;
}

body:hover #window-controls > button {
    opacity: 1;
}

#window-controls:focus-within > button {
    opacity: 1;
}

#window-controls > button + button {
    margin-left: 12px;
}

#window-controls > button > img {
    width: 12px;
    height: 12px;
    opacity: 0;
    transition: opacity 0.2s;
}

#window-controls > button:focus > img {
    opacity: 0.7;
}

#window-controls > button:hover > img {
    opacity: 0.7;
}

#window-controls > button.icon {
    background: none;
    border: none;
    border-radius: 0px;
}

#window-controls > button.icon > img {
    width: 16px;
    height: 16px;
    opacity: 1;
    transition: filter 0.2s;
}

#window-controls > button.icon:focus > img {
    opacity: 1;
    filter: brightness(150%);
}

#window-controls > button.icon:hover > img {
    opacity: 1;
    filter: brightness(150%);
}

#accept {
    background-color: #00b44b;
    border-color: #0d8840;
}

#cancel {
    background-color: #c7442c;
    border-color: #943726;
}

#banner-container {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 0px;
    justify-content: center;
}

#banner {
    position: absolute;
    bottom: 0px;
    min-width: 200px;
    max-width: 400px;
    padding: 0px 8px 8px 8px;
    background-color: #945c10;
    border-radius: 0px 0px 8px 8px;
    font-family: sans-serif;
    font-size: 14px;
    cursor: default;
    user-select: none;
    transition: transform 0.4s;
}

#banner p {
    margin: 10px 0px;
    line-height: 20px;
}

#banner.show {
    transform: translateY(100%);
}
