html {
    height: 100%;
}

body {
    box-sizing: border-box;
    height: 100%;
    margin: 0px;
    padding: 8px;
    font-family: sans-serif;
    font-size: 14px;
    cursor: default;
}

input[type="checkbox"] {
    display: inline-block;
    width: 0px;
    margin: 0px;
}

input[type="checkbox"] + label {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 8px;
    border: 1px solid #c9c9c9;
    border-radius: 3px;
    transition-property: background-color, border-color, box-shadow;
    transition-duration: 0.2s;
    transform: translate(0px, 2px);
}

input[type="checkbox"] + label > img {
    vertical-align: top;
    width: 12px;
    height: 12px;
}

input[type="checkbox"]:checked + label {
    background-color: #2a74d4;
    border-color: #2a74d4;
}

input[type="checkbox"]:hover + label {
    box-shadow: 0px 0px 0px 3px #e6e6e6;
}

input[type="checkbox"]:focus + label {
    border-color: #2a74d4;
    box-shadow: 0px 0px 0px 3px #cce2ff;
}

input[type="checkbox"]:disabled + label {
    background-color: #ffffff;
    border-color: #e6e6e6;
}

input[type="checkbox"]:disabled + label + label {
    color: #5e5e5e;
}

input[type="checkbox"]:disabled:checked + label {
    background-color: #c9c9c9;
    border-color: #c9c9c9;
}

input[type="checkbox"]:disabled:hover + label {
    box-shadow: none;
}

.setting {
    margin-bottom: 8px;
    user-select: none;
}
