@import url("common.css");

html {
    height: 100%;
}

body {
    margin: 0px;
    box-sizing: border-box;
    height: 100%;
    padding: 8px;
    font: 14px sans-serif;
    cursor: default;
    user-select: none;
}

body > :first-child {
    margin-top: 0px;
}

.monospace {
    font-family: monospace;
}

#github-icon {
    margin: -3px 0px -3px 8px;
    height: 16px;
    width: 16px;
    cursor: pointer;
}

h1 {
    margin: 8px 0px 6px 0px;
    font-size: 14px;
}

p {
    margin: 0px 0px 6px 0px;
}

.item {
    --spacing: 8px;
    display: flex;
    margin-bottom: 6px;
    width: max-content;
    max-width: 100%;
    min-height: 18px;
    flex-direction: row;
    align-items: center;
    user-select: none;
}

.item.indented {
    margin-left: 16px;
}

.item > :not(input) + :not(input) {
    margin-left: var(--spacing);
}

label > input {
    margin: 0px;
    width: 0px;
    height: 0px;
    padding: 0px;
    border: none;
    outline: none;
    opacity: 0;
}

label > span {
    transition: color var(--duration-xshort) ease;
}

label > input:hover ~ div.input {
    box-shadow: 0px 0px 0px 3px var(--shadow);
}

label > input:focus {
    outline: none;
}

label > input:focus ~ div.input {
    border-color: var(--blue-light);
    box-shadow: 0px 0px 0px 3px var(--blue-transp);
}

label > input:disabled ~ span {
    color: var(--gray);
}

label > input:disabled:hover ~ div.input {
    box-shadow: none;
}

/* ---- ANNOTATION ---- */
div.annotation {
    position: absolute;
    margin: 0px !important;
    width: 0px;
    height: 0px;
    overflow: visible;
}

div.annotation.hidden {
    display: none;
}

div.annotation > span {
    position: relative;
    top: 12px;
    left: 8px;
    display: inline-block;
    width: 200px;
    padding: 4px;
    background-color: var(--gray-dark);
    color: white;
    border: 1px solid var(--gray-xdark);
    border-radius: 0px 6px 6px 6px;
    opacity: 0;
    transition: opacity var(--duration-xshort) ease;
    pointer-events: none;
}

label > input:hover ~ div.annotation > span {
    opacity: 1;
}

/* ---- CHECKBOX ---- */
label.checkbox > div.input {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid var(--gray-light);
    border-radius: 3px;
    transition-property: background-color, border-color, box-shadow;
    transition-timing-function: ease;
    transition-duration: var(--duration-xshort);
}

label.checkbox > div.input::after {
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    background-image: url(../resources/icons/check_white.svg);
    background-size: 12px 12px;
}

label.checkbox > input:checked ~ div.input {
    background-color: var(--blue-light);
    border-color: var(--blue-light);
}

label.checkbox > input:disabled ~ div.input {
    border-color: var(--gray-xlight);
}

label.checkbox > input:disabled:checked ~ div.input {
    background-color: var(--gray-light);
    border-color: var(--gray-light);
}

/* ---- COLOR ---- */
label.color {
    --value: #000000;
    --value-string: "#000000";
}

label.color > input {
    order: 2;
    transform: translateX(-9px);
}

label.color > div.input {
    order: 1;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: var(--value);
    border: 1px solid var(--gray-light);
    border-radius: 9px;
    transition-property: border-color, box-shadow;
    transition-timing-function: ease;
    transition-duration: var(--duration-xshort);
}

label.color > span {
    order: 0;
}

label.color > div.input + span {
    order: 3;
}

label.color > input:active ~ div.input {
    border-color: var(--blue-light);
    box-shadow: 0px 0px 0px 3px var(--blue-transp);
}

/* -------- RANGE -------- */
label.range {
    --value: 50%;
    --value-string: "50%";
    --spacing: 15px;
}

label.range > input {
    order: 2;
    -webkit-appearance: none;
    width: 140px;
    height: 2px;
    background-image: linear-gradient(to left, var(--blue-light) 50%, var(--gray-xlight) 50%);
    background-position-x: calc(0% - var(--value));
    background-size: 200% 100%;
    border: 1px solid var(--gray-light);
    border-radius: 4px;
    opacity: 1;
}

label.range > input::-webkit-slider-runnable-track {
    margin: -7px;
    -webkit-appearance: none;
}

label.range > input::-webkit-slider-thumb {
    -webkit-appearance: none;
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    background-color: white;
    border: 1px solid var(--gray-light);
    border-radius: 9px;
    transition-property: background-color, border-color, box-shadow;
    transition-timing-function: ease;
    transition-duration: var(--duration-xshort);
}

label.range > span {
    order: 0;
    margin-left: 0px;
    margin-right: var(--spacing);
}

label.range > output {
    order: 3;
    margin-left: var(--spacing);
}

label.range > output::after {
    content: var(--value-string);
}

label.range > input:hover::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px 3px var(--shadow);
}

label.range > input:focus::-webkit-slider-thumb {
    border-color: var(--blue-light);
    box-shadow: 0px 0px 0px 3px var(--blue-transp);
}

/* ---- TABLE ---- */
.table {
    --spacing: 0px;
    display: block;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid var(--gray-light);
    border-radius: 4px;
}

.table table {
    --color: black;
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

.table th:first-of-type, .table td:first-of-type {
    width: 70px;
}

.table th {
    box-sizing: border-box;
    padding: 1px 0px 1px 3px;
    text-align: start;
    background-color: var(--gray-xxlight);
    font-weight: normal;
    border-bottom: 1px solid var(--gray-light);
    border-radius: 0px 3px 0px 0px;
}

.table th:first-of-type {
    border-right: 1px solid var(--gray-light);
    border-radius: 3px 0px 0px 0px;
}

.table > div.tbody {
    min-height: 90px;
    max-height: 90px;
    overflow: auto;
}

.table tr.selected {
    --color: black;
    background-color: var(--blue-xlight);
}

.table tr.selected:focus-within {
    --color: white;
    background-color: var(--blue-light);
}

.table td {
    padding: 0px;
}

.table td > input {
    box-sizing: border-box;
    width: 100%;
    padding: 1px 0px 1px 3px;
    background-color: transparent;
    color: var(--color);
    font: 14px monospace;
    outline: none;
    border: none;
}

.table td > input::selection {
    background-color: white;
    color: black;
}

.table > div.tbody > div.empty {
    position: absolute;
    z-index: -1;
    padding: 2px 0px 2px 3px;
    color: var(--gray-light);
}
